main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

article{
    background-color: var(--secondary-color);
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
}
.services-image {
    width:200px;
}

.description {
    background-color: white;
    border: 1px solid red;
    
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}